<div class="grandfather-about">
  <div class="container parent-about">
    <div class="row text-center">
      <div class="col-12 col-md-4 margin-4">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>

      <div class="col-12 col-md-4 margin-4 text-center">
        <h3 class="text-white mb-2">AROUND THE WEB</h3>

        <div class="p-3">
          <!-- Facebook -->
        <i class="bi bi-facebook social-icon"></i>

        <!-- Twitter -->
        <i class="bi bi-twitter social-icon"></i>

        <!-- LinkedIn -->
        <i class="bi bi-linkedin social-icon"></i>

        <!-- Website/Globe -->
        <i class="bi bi-globe social-icon"></i>
        </div>
      </div>

      <div class="col-12 col-md-4 margin-4">
        <h3>ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-color-black">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center pt-2">
      <p class="paragraph text-center">Copyright © Your Website 2021</p>
    </div>
  </div>
</div>

<!-- <div class="footer">
  <div  class="card-group m-4">
    <div class="card">
      <div class="card-body text-center">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h3>AROUND THE WEB</h3>
        <div class="icons">
          <i class="fa-brands fa-facebook mx-1 icon"></i
          ><i class="fa-brands fa-twitter mx-1 icon"></i
          ><i
            class="fa-brands fa-linkedin-in mx-1 icon"
          ></i
          ><i class="fa-solid fa-globe mx-1 icon"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h3>ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</div> -->
