<div class="portfolio pad">
  <div class="header">
        <h2 class="text-uppercase text-center mb-3 fs-1 fw-bolder">portfolio component</h2>

      <div
        class="d-flex align-items-center justify-content-center"
        style="height: 60px"
      >
        <!-- Left thick line -->
        <div
          class="line"
          style="width: 80px; height: 4px; background-color: black"
        ></div>

        <!-- Star icon -->
        <div class="text-black px-3 fs-5">
          <i class="bi bi-star-fill"></i>
        </div>

        <!-- Right thick line -->
        <div
          class="line"
          style="width: 80px; height: 4px; background-color: black"
        ></div>
      </div>
      </div>
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4 col-md-6">
        <div class="parent-hover rounded-3 overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="../../../../assets/images/poert1.png" alt="poert1">
          <div class="plus-bg position-absolute top-0 start-0 end-0 bottom-0 text-center d-flex align-items-center justify-content-center rounded-3">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>

<div class="col-lg-4 col-md-6">
        <div class="parent-hover rounded-3 overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="../../../../assets/images/port2.png" alt="poert1">
          <div class="plus-bg position-absolute top-0 start-0 end-0 bottom-0 text-center d-flex align-items-center justify-content-center rounded-3">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="parent-hover rounded-3 overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="../../../../assets/images/port3.png" alt="poert1">
          <div class="plus-bg position-absolute top-0 start-0 end-0 bottom-0 text-center d-flex align-items-center justify-content-center rounded-3">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="parent-hover rounded-3 overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="../../../../assets/images/poert1.png" alt="poert1">
          <div class="plus-bg position-absolute top-0 start-0 end-0 bottom-0 text-center d-flex align-items-center justify-content-center rounded-3">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="parent-hover rounded-3 overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="../../../../assets/images/port2.png" alt="poert1">
          <div class="plus-bg position-absolute top-0 start-0 end-0 bottom-0 text-center d-flex align-items-center justify-content-center rounded-3">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="parent-hover rounded-3 overflow-hidden position-relative">
          <img class="w-100 rounded-3" src="../../../../assets/images/port3.png" alt="poert1">
          <div class="plus-bg position-absolute top-0 start-0 end-0 bottom-0 text-center d-flex align-items-center justify-content-center rounded-3">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
