<div class="contact pad">
  <div class="header">
    <h2 class="text-uppercase text-center mb-2 fs-1 fw-bolder">
      conatct section
    </h2>

    <div
      class="d-flex align-items-center justify-content-center mb-3"
      style="height: 60px"
    >
      <!-- Left thick line -->
      <div
        class="line"
        style="width: 80px; height: 4px; background-color: black"
      ></div>

      <!-- Star icon -->
      <div class="text-black px-3 fs-5">
        <i class="bi bi-star-fill"></i>
      </div>

      <!-- Right thick line -->
      <div
        class="line"
        style="width: 80px; height: 4px; background-color: black"
      ></div>
    </div>
  </div>
<div class="container-fluid container mb-4">
  <form class="p-4 w-50 mx-auto">
      <!-- Username -->
      <label for="userName" class="form-label"></label>
      <input
        id="userName"
        type="text"
        placeholder="Enter your name"
        name="userName"
        class="form-control border-0 border-bottom py-3"
      />

      <!-- Age -->
      <label for="userAge" class="form-label mt-3"></label>
      <input
        id="userAge"
        type="number"
        placeholder="Enter your age"
        name="userAge"
        class="form-control border-0 border-bottom py-3"
      />

      <!-- Email -->
      <label for="userEmail" class="form-label mt-3"></label>
      <input
        id="userEmail"
        type="email"
        placeholder="Enter your email"
        name="userEmail"
        class="form-control border-0 border-bottom py-3"
      />

      <!-- Password -->
      <label for="userPassword" class="form-label mt-3"></label>
      <input
        id="userPassword"
        type="password"
        placeholder="Enter your password"
        name="userPassword"
        class="form-control border-0 border-bottom py-3"
      />

      <!-- Submit Button -->
      <button
        type="submit"
        class="btn mt-4 text-white"
        style="background-color: #1abc9c"
      >
        Send Message
      </button>
    </form>
</div>
</div>
